@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

button:active {
  transform: translateY(1px);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.65;
}

.row {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.container {
  padding: 40px 0;
  width: 100%;
}

.btn {
  background-color: #2bd97c;
  color: #032b41;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
}

.btn:hover:not(:disabled) {
  background-color: #20ba68;
}

.btn:active {
  transform: translateY(1px);
}

.home__cta--btn {
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* HOME */
.section__title {
  font-size: 32px;
  color: #032b41;
  text-align: center;
  margin-bottom: 32px;
  font-weight: bold;
}

/* NAVBAR */
.nav {
  height: 80px;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1070px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.nav__list--wrapper {
  display: flex;
  gap: 24px;
}

.nav__img--mask {
  max-width: 200px;
}

.nav__img {
  width: 100%;
  height: 100%;
}

.nav__list {
  cursor: not-allowed;
  color: #032b41;
  transition: color 100ms;
}

.nav__list--login:hover {
  color: #2bd97c;
}

.nav__list--login {
  cursor: pointer;
}

/* LANDING */
.landing__wrapper {
  display: flex;
}

.landing__content {
  width: 100%;
}

.landing__image--mask {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.landing__image--mask img {
  width: 100%;
  height: 100%;
  max-width: 400px;
}

.landing__content__title {
  color: #032b41;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}

.landing__content__subtitle {
  color: #394547;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 24px;
  line-height: 1.5;
}

/* FEATURES */
.features__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 96px;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.features__icon {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  color: #032b41;
}

.features__icon svg {
  width: 60px;
  height: 60px;
}

.features__title {
  font-size: 24px;
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 500;
}

.features__sub--title {
  font-size: 18px;
  color: #394547;
  font-weight: 300;
}

.statistics__heading {
  font-size: 32px;
  font-weight: 500;
  color: #6b757b;
  margin-bottom: 16px;
}

.statistics__heading:last-child {
  margin-bottom: 0;
}

.statistics__heading--active {
  color: #2bd97c;
}

.statistics__wrapper {
  display: flex;
  gap: 80px;
  margin-bottom: 96px;
}

.statistics__wrapper:last-child {
  margin-bottom: 0;
}

.statistics__content--header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.statistics__content--header-second {
  align-items: flex-end;
}

.statistics__content--details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  background-color: #f1f6f4;
  padding: 40px 24px;
}

.statistics__data {
  display: flex;
  gap: 16px;
}

.statistics__data--number {
  color: #0365f2;
  font-size: 20px;
  font-weight: 600;
  margin-top: 4px;
}

.statistics__data--title {
  font-size: 20px;
  font-weight: 300;
  color: #394547;
}

/* REVIEWS */
.reviews__wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.review {
  background-color: #fff3d7;
  padding: 16px;
  margin-bottom: 32px;
  border-radius: 4px;
  font-weight: 300;
}

.review__header {
  color: #032b41;
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.review__body {
  color: #394547;
  letter-spacing: 0.3px;
  line-height: 1.4;
}

.review__stars {
  display: flex;
}

.review__stars svg {
  width: 16px;
  height: 16px;
  fill: #0564f1;
}

.reviews__btn--wrapper {
  display: flex;
  justify-content: center;
}

/* NUMBERS */
.numbers {
  background-color: #d7e9ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 24px;
  padding-bottom: 40px;
  border-radius: 12px;
}

.numbers__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.numbers__icon {
  display: flex;
  align-items: center;
  height: 60px;
  gap: 4px;
}

.numbers__icon svg {
  color: #0365f2;
}

.numbers__title {
  font-size: 40px;
  color: #032b41;
  font-weight: 600;
  margin-bottom: 16px;
}

.numbers__sub--title {
  color: #394547;
  font-weight: 300;
}

#footer {
  background-color: rgb(241 246 244);
}

.footer__top--wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 32px auto 64px;
}

.footer__block {
  z-index: 1;
}

.footer__link--title {
  font-weight: 600;
  margin-bottom: 16px;
  font-size: 18px;
  color: #032b41;
}

.footer__social--link-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.footer__social--link {
  display: flex;
}

.footer__link--wrapper {
  margin-bottom: 12px;
  line-height: 1;
}

.footer__link {
  color: #394547;
  font-size: 14px;
  cursor: not-allowed;
}

.footer__link--wrapper:last-child {
  margin-bottom: 0;
}

.footer__social--text {
  margin-bottom: 4px;
}

.footer__social--text b {
  font-weight: 500;
}

.footer__review--wrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.footer__social--img-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__social--img {
  display: flex;
}

.footer__copyright--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright {
  color: #032b41;
  font-weight: 500;
}

/* For You */

.sidebar {
  background: #f7faf9;
  width: 200px;
  min-width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
  transition: all .3s;
}

.sidebar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding-top: 16px;
  max-width: 160px;
  margin: 0 auto;
}

.sidebar__logo img {
  height: auto;
}

.sidebar__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 60px);
  padding-bottom: 20px;
  overflow-y: auto;
}

.audio__sidebar {
  height: calc(100vh - 140px);
}

.sidebar__fonts {
  margin-left: 24px;
  gap: 8px;
}

.sidebar__link--wrapper.sidebar__fonts:hover {
  background-color: transparent;
}


.sidebar__font-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.font-s {
  width: 20px;
  height: 20px;
} 

.font-m {
  width: 24px;
  height: 24px;
}  

.font-l {
  width: 28px;
  height: 28px;
} 

.font-xl {
  width: 32px;
  height: 32px;
} 

.font-size--active {
  border-bottom: 3px solid #2bd97c;
}


.sidebar__top {
  margin-top: 40px;
  flex: 1 1;
}

.sidebar__link--wrapper {
  display: flex;
  align-items: center;
  height: 56px;
  color: #032b41;
  margin-bottom: 8px;
  cursor: pointer;
}

.sidebar__link--wrapper:hover {
  background-color: #f0efef;
}

.sidebar__link--line {
  width: 5px;
  height: 100%;
  background-color: transparent;
  margin-right: 16px;
}

.active--tab {
  background-color: #2bd97c;
}

.sidebar__link--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.sidebar__link--icon svg {
  width: 24px;
  height: 24px;
}

.no-link {
  cursor: not-allowed;
}

.no-link:hover {
background-color: #f7faf9;
}

.sidebar__overlay {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  transition: opacity .4s ease;
}

.sidebar__overlay--open {
  opacity: 100;
  pointer-events: all;
}

.sidebar.sidebar__open {
  transform: translateX(0);
  width: 80%;
}

.wrapper {
  width: calc(100vw - 200px);
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all .3s;
}

.search__background {
  background-color: #fff;
  border-bottom: 1px solid #e1e7ea;
  height: 80px;
}

.search__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1070px;
  padding: 0 32px;
  margin: 0 auto;
}

.search__content {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
  max-width: 340px;
}

.sidebar__toggle--btn {
  display: none;
  cursor: pointer;
}

.sidebar__toggle--btn svg {
  width: 24px;
  height: 24px;
}

.search {
  display: flex;
  width: 100%;
  align-items: center;
}

.search__input--wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  gap: 8px;
}

.search__input {
  background-color: #f1f6f4;
  height: 40px;
  width: 100%;
  padding: 0 16px;
  outline: none;
  color: #042330;
  border: 2px solid #e1e7ea;
  border-radius: 8px;
  font-size: 14px;
}

.search__icon {
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
  right: 8px;
  border-left: 2px solid #e1e7ea;
  padding-left: 8px;
}

.search__icon svg {
  height: 24px;
  width: 24px;
  columns: #03314b;
}

.search__results--wrapper {
  background-color: #fff;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 0;
  top: 80px;
  width: 440px;
  max-height: 640px;
  overflow-y: auto;
  z-index: 9999;
  padding: 16px;
}

.search__result {
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 24px;
  border-bottom: 1px solid #e1e7ea;
  height: 120px;
}

.search__result:last-child {
  border-bottom: none;
}

.search__result:hover {
  background-color: #f1f6f4;
}

.search__img--wrapper {
  position: relative;
  width: 80px;
  height: 80px;
  min-width: 80px;
}

.search-result__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 1.1;
}

.search__title {
  font-weight: 700;
}

.search__author {
  font-weight: 300;
  font-size: 14px;
}

.search__duration {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 300;
}

.search__icon--pointer {
  cursor: pointer;
}

/* For you Page */

.for-you__title {
  font-size: 22px;
  font-weight: 700;
  color: #032b41;
  margin-bottom: 16px;
}

.selected__book {
  display: flex;
  justify-content: space-between;
  width: calc((100% / 3) * 2);
  background-color: #fbefd6;
  border-radius: 4px;
  margin-bottom: 24px;
  padding: 24px;
  gap: 24px;
}

.selected__book--subtitle {
  color: #032b41;
  width: 40%;
}

.selected__book--divider {
  width: 1px;
  background-color: #bac8ce;
}

.selected__book--content {
  display: flex;
  gap: 16px;
  width: 60%;
}

.selected-book__image--wrapper {
  width: 140px;
  height: 140px;
  min-width: 140px;
}

.selected__book--img {
  display: block;
  width: 100%;
  height: 100%;
}

.selected__book--title {
  font-weight: 600;
  color: #032b41;
  margin-bottom: 8px;
}

.selected__book--author {
  font-size: 14px;
  color: #394547;
  margin-bottom: 16px;
}

.selected__book--duration-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.selected__book--icon {
  display: flex;
  align-items: center;
  width: 40px;
  min-width: 40px;
  height: 40px;
}

.selected__book--icon svg {
  width: 40px;
  height: 40px;
}

.selected__book--duration {
  font-size: 14px;
  font-weight: 500;
  color: #032b41;
}

.for-you__subtitle {
  font-weight: 300;
  color: #394547;
  margin-bottom: 16px;
}

.for-you__recommended--books {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  /* scroll-snap-type: mandatory; */
  scroll-snap-type: x;
  margin-bottom: 32px;
  transition: all 0.3s;
}

.for-you__recommended--books::-webkit-scrollbar {
  background-color: transparent;
  height: 8px;
}

.for-you__recommended--books:hover::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

.for-you__recommended--books::-webkit-scrollbar-thumb {
  transition: all 0.3s;
}

.for-you__recommended--books:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.2);
  border-radius: 100px;
  width: 4px;
}

.for-you__recommended--books.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.book--wrapper {
  position: relative;
  scroll-snap-align: start;
  padding: 32px 12px 8px;
  text-decoration: none;
  border-radius: 4px;
  max-width: 200px;
  width: 100%;
  line-height: 1.2;
}

.book--wrapper:hover {
  background-color: #f1f6f4;
}


.book__image--wrapper {
  width: 172px;
  height: 172px;
  margin-bottom: 8px;
  min-width: 172px;
}

.book__title {
  font-size: 16px;
  font-weight: 700;
  color: #032b41;
  margin-bottom: 8px;
}

.book__author {
  font-size: 14px;
  color: #6b757b;
  font-weight: 300;
  margin-bottom: 8px;
}

.book__subtitle {
  font-size: 14px;
  color: #394547;
  margin-bottom: 8px;
}

.book__details--wrapper {
  display: flex;
  gap: 8px;
}

.book__details {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 300;
  color: #6b757b;
}

.book--pill {
  background-color: #032b41;
  width: fit-content;
  height: 18px;
  padding: 0 8px;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 10px;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

/* Book Info Page */

.inner__wrapper {
  display: flex;
  gap: 16px;
}

.inner__book {
  width: 100%;
}

.book-info__title, .book-info__author {
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 600;
}

.book-info__title {
  font-size: 32px;
}

.book-info__subtitle {
  font-size: 20px;
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 300;
}

.book-info__details--wrapper {
  border-top: 1px solid #e1e7ea;
  border-bottom: 1px solid #e1e7ea;
  padding: 16px 0;
  margin-bottom: 24px;
}

.book-info__details {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  row-gap: 12px;
}

.book-info__detail {
  display: flex;
  align-items: center;
  width: 50%;
  color: #032b41;
  font-weight: 500;
  font-size: 14px;
}

.book-info__detail--icon {
  display: flex;
  margin-right: 4px;
}

.book-info__detail--icon svg {
  height: 24px;
  width: 24px;
}

.book-info__button-wrapper {
  display: flex; 
  gap: 16px;
  margin-bottom: 24px;
}

.book-info__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #032b41;
  color: #fff;
  width: 144px;
  height: 48px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  gap: 8px;
  transition: opacity .2s;
}

.book-info__button:hover {
  opacity: 0.8;
}

.button__icon svg {
  width: 24px;
  height: 24px;
}

.book-info__bookmark {
  display: flex;
  gap: 8px;
  align-items: center;
  color: #0365f2;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 40px;
  font-size: 18px;
  transition: color .2s;
}

.bookmark__icon {
  display: flex;
  align-items: center;
}

.book-info__bookmark:hover {
  color: #044298;
}

.book-info__secondary-title {
  font-size: 18px;
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 600;
}

.book-info__tags-wrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.book-info__tag {
  background-color: #f1f6f4;
  padding: 0 16px;
  height: 48px;
  display: flex;
  align-items: center;
  cursor: not-allowed;
  color: #032b41;
  font-weight: 500;
  border-radius: 4px;
  transition: background-color.2s;
}

.book-info__description, .book-info__author-description {
  color: #032b41;
  margin-bottom: 16px;
  line-height: 1.5;
}

.book-info__img--wrapper {
  height: 300px;
  width: 300px;
  min-width: 300px;
}

.book__img {
  width: 100%;
  height: 100%;
}

/* Audio Player */ 

.summary {
  position: relative;
  width: 100%;
  overflow-y: auto;
  height: calc(100vh - 160px);
}

.audio__book--summary {
  font-size: 16px;
  white-space: pre-line;
  padding: 24px;
  max-width: 800px;
  margin: 0 auto;
}

.audio__book--summary-title {
  color: #032b41;
  font-size: 24px;
  border-bottom: 1px solid #e1e7ea;
  margin-bottom: 32px;
  padding-bottom: 16px;
  line-height: 1.5;
}

.audio__book--summary-text {
  color: #032b41;
  line-height: 1.5;
}

.audio__wrapper {
  width: 100%;
  background-color: #042330;
  height: 80px;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
}

.audio__wrapper>div {
  width: calc(100% / 3);
}

.audio__track--wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.audio__img--mask {
  display: flex;
  max-width: 48px;
}

.audio__img--wrapper {
  height: 48px;
  width: 48px;
  min-width: 48px;
}

.audio___img {
  width: 100%;
  height: 100%;
}

.audio__text {
  color: #fff;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  line-height: 1.2;
}

.audio__author {
  color: #bac8ce;
}

.audio__controls, .audio__controls--btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio__controls {
  gap: 24px;
}

.audio__controls--btn {
  border-radius: 50%;
  cursor: pointer;
}

.audio__controls--btn svg {
  width: 28px;
  height: 28px;
  transition: all .2s;
}

.audio__controls--btn svg path {
  stroke: #fff;
  stroke-width: 1.5px;
}

.audio__controls--btn svg:hover {
  stroke: #2bd97c;
}

.audio__controls--btn--play {
  background-color: #fff;
  width: 40px;
  height: 40px;
}

.audio__controls--btn--play svg {
  color: #042330;
  width: 30px;
  height: 30px;
}

.audio__controls--btn--play--icon {
  margin-left: 4px;
}

.audio__controls--btn--play svg path {
  stroke-width: 1.5px;
}

.audio__progress--wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.audio__time {
  color: #fff;
  font-size: 14px;
}

.audio__progress--bar {
  border-radius: 8px;
  height: 4px;
  max-width: 300px;
  width: 100%;
  cursor: pointer;
  outline: none;
  appearance: none;
}

.plan--spinner.player--spinner {
  width: 64px;
  height: 64px;
}

.spinner--wrapper.player {
  height: calc(100vh - 160px);
  overflow: hidden;
}

/* =========================
Custom Input range 
=============================*/

/* Input range - chrome and safari */

input[type="range"] {
  --range-progress: 0%;
  
  -webkit-appearance: none;
  position: relative;
  background:rgb(109, 120, 125);
  width: 100%;
  height: 4px;
  border-radius: 2px;
  cursor: pointer;
}

/* Input range - firefox */
input[type="range"]::-moz-range-track {
  position: relative;
  background:#ccc;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  cursor: pointer;
}

/* played progress length - Chrome & safari*/
input[type="range"]::before {
  content: '';
  height: 4px;
  background:  rgb(44, 217, 124) ;
  width: var(--range-progress);
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

/* played progress length - firefox */
input[type="range"]::-moz-range-progress {
  background:  rgb(43, 217, 124) ;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  height: 2px;
}

/* slider thumb - chrome and safari */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  cursor: pointer;
  position: relative;
}

/* dragging thumb - chrome and safari */
input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
}

/* slider thumb - firefox */
input[type="range"]::-moz-range-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  border: transparent;
  position: relative;
}
/* dragging thumb - firefox */
input[type="range"]:active::-moz-range-thumb {
  transform: scale(1.2);
}

/* Choose Plan Page */

.wrapper__full {
  width: 100%;
  margin-left: 0;
}

.plan {
  width: 100%;
}

.plan__header--wrapper {
  position: relative;
  text-align: center;
  width: 100%;
  padding-top: 48px;
  margin-bottom: 24px;
}

.plan__header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #032b41;
  border-bottom-right-radius: 16rem;
  border-bottom-left-radius: 16rem;
}

.plan__header {
  max-width: 1000px;
  margin: 0 auto;
  color: #fff;
  padding: 0 24px;
}

.plan__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
}

.plan__subtitle {
  font-size: 20px;
  margin-bottom: 32px;
}

.plan__img--mask {
  display: flex;
  justify-content: center;
  max-width: 340px;
  margin: 0 auto;
  border-radius: 180px 180px 0 0 ;
  overflow: hidden;
}

.plan__img {
  width: 100%;
  height: 100%;
}

.plan__features--wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  text-align: center;
  grid-gap: 24px;
  max-width: 800px;
  margin: 0 auto 56px;
}

.plan__features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan__features--icon {
  display: flex;
  justify-content: center;
  color: #032b41;
  margin-bottom: 12px;
}

.plan__features--icon svg {
  width: 60px;
  height: 60px;
}

.plan__features--text {
  color: #394547;
  line-height: 1.5;
}

.plan__card {
  display: flex;
  gap: 24px;
  padding: 24px;
  background-color: #f1f6f4;
  border: 4px solid #bac8ce;
  cursor: pointer;
  max-width: 680px;
  margin: 0 auto;
}

.plan__card--active {
  border-color: #2bd97c;
}

.plan__card--circle {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plan__card--dot {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000;
  border-radius: 50%;
}

.plan__card--title {
  font-size: 18px;
  font-weight: 600;
  color: #032b41;
  margin-bottom: 4px;
}

.plan__card--price {
  font-size: 24px;
  font-weight: 700;
  color: #032b41;
  margin-bottom: 8px;
}

.plan__card--text {
  color: #6b757b;
  font-weight: 300;
}

.plan__card--separator {
  color: #6b757b;
  display: flex;
  align-items: center;
  margin: 24px auto;
  font-size: 14px;
  gap: 8px;
  max-width: 240px;
}

.plan__card--separator::before, .plan__card--separator::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: #bac8ce;
}

.plan__card--cta {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 32px 0;
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.plan__disclaimer {
  font-size: 12px;
  color: #6b757b;
  text-align: center;
}

.spinner--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 270px;
}

.plan--spinner {
  width: 48px;
  height: 48px;
  color: #032b41;
  animation: spin 1s infinite linear;
}

.accordian__card {
  border-bottom: 1px solid #ddd;
  padding: 24px 0 ;
  margin-bottom: 8px;
  overflow: hidden;
  cursor:pointer;
}

.accordian__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.accordian__title {
  font-weight: 500;
  font-size: 24px;
  position: relative;
  margin-bottom: 0;
  color: #032b41;
  transition: .3s;
}

.accordian__icon {
  width: 24px;
  min-width: 24px;
  height: 24px;
  transition: transform .3s;
}

.accordian__icon--rotate {
  transform: rotate(-180deg);
}

.accordian__collapse {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.35s ease;
}

.accordian__inner {
  overflow: hidden;
}

.accordian__body {
  margin-top: 24px;
  color: #394547;
  line-height: 1.5;
}

.accordian__collapse.show {
  grid-template-rows: 1fr;
}

/* Auth Modal */

.modal__wrapper {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 100%;
  z-index: 9999;
  max-width: 400px;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.modal__content {
  padding: 48px 32px 24px;
}

.modal__title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 24px;
}

.modal__error {
  color: #f56c6c;
  margin-bottom: 16px;
  text-align: left;
}

.btn__login--guest, .btn__login--google {
  color: #fff;
  background-color: #3A579D;
  position: relative;
}

.btn__login--guest:hover {
  background-color: #25396b !important;
}

.btn__login--google:hover {
  background-color: #3367d6 !important;
}

.btn__login--google {
  background-color: #4285F4;
}

.btn__icon {
  position: absolute;
  left: 2px;
}

.btn__icon--google {
  background-color: #fff;
  padding: 4px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}

.btn__icon svg {
  width: 32px;
  height: 32px;
}

.modal__separator {
  color: #394547;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 16px 0;
}

.modal__separator::before, .modal__separator::after {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: #bac8ce;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login__input {
  border: 2px solid #bac8ce;
  height: 40px;
  border-radius: 4px;
  padding: 0 12px;
  outline: none;
  font-size: 14px;
}

.login__input:focus {
  border-color: #2bd97c;
}

.modal__forgot-password {
  color: #116BE9;
  font-size: 14px;
  margin-bottom: 16px;
  cursor: pointer;
}

.modal__account {
  background-color: #f1f6f4;
  width: 100%;
  height: 40px;
  color: #116BE9;
}

.modal__close {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.modal__close svg {
  width: 28px;
  height: 28px;
}

.login__spinner {
  width: 24px;
  height: 24px;
  animation: spin 1s infinite linear;
}

.dark--spinner {
  color: #032b41;
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  } 100% {
    transform: rotate(360deg)
  }
}

.library__title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 16px;
  color: #032b41;
}

.library__subtitle {
  font-weight: 300;
  margin-bottom: 16px;
}

.library__empty-row {
  background-color: #f1f6f4;
  padding: 32px;
  margin: 0 auto 56px;
  text-align: center;
  max-width: fit-content;
  border-radius: 12px;
}

.library__row {
  margin-left: -12px;
}

.empty__title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 4px;
}

.settings__title {
  font-weight: 700;
  font-size: 32px;
  color: #032b41;
  padding-bottom: 16px;
  margin-bottom: 32px;
  border-bottom: 1px solid #e1e7ea;
}

.settings__content {
  padding-bottom: 24px;
  margin-bottom: 32px;
  border-bottom: 1px solid #e1e7ea;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.settings__content:last-child {
  border-bottom: none;
}

.settings__subtitle {
  font-weight: 700;
  font-size: 18px;
  color: #032b41;
}

.settings__btn {
  max-width: fit-content;
}

.settings__login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 460px;
  margin: 0 auto;
}

.settings__img--wrapper img{
  width: 100%;
  height: 100%;
}

.settings__login--title {
  font-weight: 700;
  font-size: 24px;
}

.settings__login--btn {
  width: 180px;
  height: 40px;
}

.skeleton-box {
  background-color: #e0e0e0;
}

@media (max-width: 1200px) {
  .selected__book {
    width: 100%;
  } 
}

@media (max-width: 992px) {
  .inner__wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }

  .book-info__title {
    font-size: 24px;
  }

  .book-info__author, .book-info__tag,  .book-info__description, .book-info__author-description  {
    font-size: 14px;
  }

  .book-info__subtitle {
    font-size: 18px;
  }

  .book-info__bookmark {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .landing__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 540px;
    margin: 0 auto;
  }

  .landing__image--mask {
    display: none;
  }

  .landing__content__title {
    font-size: 24px;
  }

  .features__wrapper {
    grid-template-columns: 1fr;
  }

  .statistics__wrapper {
    flex-direction: column;
    gap: 32px;
    margin-bottom: 32px;
  }

  .statistics__heading {
    font-size: 24px;
  }

  .footer__top--wrapper {
    flex-direction: column;
    gap: 32px;
  }

  .numbers__wrapper {
    grid-template-columns: 1fr;
  }

  .statistics__content--details-second {
    order: 1;
  }

  .statistics__content--header-second {
    align-items: flex-start;
  }

  .statistics__data--title {
    font-size: 16px;
  }

  .section__title {
    font-size: 24px;
  }

  .features__title {
    font-size: 20px;
  }

  .features__sub--title {
    font-size: 14px;
  }

  .features__icon svg {
    width: 48px;
    height: 48px;
  }

  .review__body {
    font-size: 14px;
  }

  .numbers__wrapper {
    gap: 24px;
  }

  .numbers__title {
    font-size: 32px;
  }

  .numbers__sub--title {
    font-size: 14px;
  }

  .remove--tablet {
    display: none;
  }

  .sidebar {
    transform: translateX(-100%);
  }

  .wrapper {
    width: 100%;
    margin-left: 0;
  }

  .sidebar__toggle--btn {
    display: flex;
  }

  .audio__wrapper {
    height: 180px;
    flex-direction: column;
    padding: 16px 24px;
  }
  
  .audio__wrapper>div {
    width: 100%;
    justify-content: center;
  }

  .plan__header::before {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .plan__title {
    font-size: 26px;
  }

  .plan__subtitle {
    font-size: 16px;
  }

  .plan__features--wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .nav__list--mobile {
    display: none;
  }
}